<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>
            YelpCamp
        </title>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm bg-primary fixed-top">
            <div class="container">
                <a href="/" class="navbar-brand">YelpCamp</a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                </ul>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link text-light" href="#">Sign Up</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link text-light" href="#">Login</a>
                      </li>
                    </ul>
                  </div>
            </div>
        </nav>
        
 