<%- include('partials/header'); -%>
    <div class="container mt-5">
        <header class="jumbotron">
            <h1>This is the Campgrounds page</h1>
            <p>
                View our hand-picked campgrounds from all over the world
            </p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add a New Campground</a>
            </p>
        </header>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(Campground){ %>
            <div class="col-lg-4 col-sm-6">
                    <img class="img-thumbnail"src="<%= Campground.image %>">
                    <caption>
                        <h4 class="mt-2">
                             <%=Campground.name%>
                             </h4>
                     </caption>
            </div>
            <%}); %>    
    </div>
    </div>
<%- include('partials/footer'); -%>