<%- include('partials/header'); -%>
    <div class="container mt-5">
        <h1>Log-In</h1>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button class="btn-lg btn-primary">Log in</button>
        </form>
    </div>
<%- include('partials/footer'); -%>